<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit College</title>
</head>
<body>
    <div align="center">
        <h1> Edit College </h1> <br/>
        <h3> <td th:text="${college.id}"></td></h3>
        <form action="#" th:action="@{/admin/colleges/update}" th:object="${college}" method="post">
            <table border="0" cellpadding="10">
                <td><input type="hidden" th:field="*{id}"></td>
                <td><input type="hidden" th:field="*{image_fn}"></td>
                <tr>
                    <td> College Name: </td>
                    <td><input type="text" th:field="*{name}"/></td>
                </tr>
                <tr>
                    <td> College Description: </td>
                    <td><input type="text" th:field="*{description}"/></td>
                </tr>
                <tr>
                    <td> College Telephone Number: </td>
                    <td><input type="number" th:field="*{telno}"/></td>
                </tr>
                <tr>
                    <td> College Fax Number: </td>
                    <td><input type="number" th:field="*{faxo}"/></td>
                </tr>
                <tr>
                    <td> College Email Address: </td>
                    <td><input type="email" th:field="*{email}"/></td>
                </tr>
                <tr>
                    <td> College Address: </td>
                    <td><input type="text" th:field="*{address}"/></td>
                </tr>
                <tr>
                    <td><button type="submit">Save</button></td>
                </tr>
            </table>
        </form>

    </div>

</body>
</html>