<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Colleges</title>
</head>
<body>
<div align="center">
    <h1> College List </h1>
    <a href="/admin/colleges/new"> Create New College </a>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th> College ID </th>
            <th> College Name </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="college : ${colleges}">
            <td th:text="${college.id}"></td>
            <td th:text="${college.name}"></td>
            <td>
                <a th:href="@{'/admin/colleges/edit/' + ${college.id}}">Edit</a>
                <a th:href="@{'/admin/colleges/delete/' + ${college.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>