<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Department</title>
</head>
<body>
    <div align="center">
        <h1> Edit Department </h1> <br/>
        <form action="#" th:action="@{/admin/departments/update}" th:object="${department}" method="post">
            <table border="0" cellpadding="10">
                    <td><input type="hidden" th:field="*{name}"/></td>
                <tr>
                    <td> Description: </td>
                    <td><input type="text" th:field="*{description}"/></td>
                </tr>
                <tr>
                    <select th:field="*{college}">
                        <option th:each="college: ${colleges}" th:value="${college.id}" th:text="${college.name}"></option>
                    </select>
                </tr>
                <tr>
                    <td><button type="submit">Save</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>