<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::header">
</head>
<body>
    <div align="center">
        <h1> Edit Employee </h1>
        <form action="#" th:action="@{/admin/employees/update}" th:object="${employee}" method="post" enctype="multipart/form-data" name="empEdit">
            <table border="0" cellpadding="10">
                <td><input type="hidden" th:field="*{name}"/></td>
                <td><input type="hidden" th:field="*{image_fn}"/></td>
                <tr>
                    <td> Designation: </td>
                    <td><input type="text" th:field="*{designation}"/></td>
                </tr>
                <tr>
                    <td> Credentials: </td>
                    <td><input type="text" th:field="*{credentials}"/></td>
                </tr>
                <tr>
                    <select th:field="*{department}">
                        <option th:each="department: ${departments}" th:value="${department.name}" th:text="${department.description}"></option>
                    </select>
                </tr>
                <tr>
                    <td><button type="submit" onclick="closeSelf();return:true;">Save</button></td>
                </tr>
            </table>
        </form>
    </div>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script>
        function closeSelf() {
            document.forms['empEdit'].submit();
            opener.location.reload(true);
            self.close();
        }
    </script>
</body>
</html>