<div class="container-fluid" align="center" th:fragment="employeeHome">
    <h1> Employee List </h1>
    <a href="/admin/employees/new">Add new Employee</a><br/><br/>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th> Employee Name </th>
            <th> Designation </th>
            <th> Credentials </th>
            <th> Department </th>
            <th> Image </th>
            <th> Image filename </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.designation}"></td>
            <td th:text="${employee.credentials}"></td>
            <td th:text="${employee.departmentName == null} ? 'Empty' : ${employee.departmentName}"></td>
            <td><img th:src="@{'/uploads/' + ${employee.image_fn}}"/></td>
            <td th:text="${employee.image_fn}"></td>
            <td>
                <a th:href="@{'/admin/employees/edit/' + ${employee.name}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/admin/employees/delete/' + ${employee.name}}">Delete</a>

                <a th:href="@{'/admin/employees/imageUpload/' + ${employee.name}}">Upload Image</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>