<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Image</title>
</head>
<body>
    <div align="center">
        <h1> Upload Employee Image </h1>
        <form action="#" th:action="@{/admin/employees/imageUpload}" th:object="${employee}" method="post" enctype="multipart/form-data">
        <tr>
            <input type="file" name="imageFile">
        </tr>
        <td><input type="hidden" th:field="*{name}"/></td>
        <td><input type="hidden" th:field="*{designation}"/></td>
        <td><input type="hidden" th:field="*{credentials}"/></td>
        <td><input type="hidden" th:field="*{department}"/></td>
        <tr>
            <td><button type="submit">Save</button></td>
        </tr>
        </form>
    </div>
</body>
</html>