<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
</head>
<body>
<div align="center">
    <h1> Add Event</h1><br/>
    <form action="#" th:action="@{/admin/events/new}" th:object="${eventl}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td> Event Title: </td>
                <td><input type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <td> Event Description: </td>
                <td><input type="text" th:field="*{description}"></td>
            </tr>
            <tr>
                <td> Event Date: </td>
                <td><input type="text" th:field="*{date}"></td>
            </tr>
            <tr>
                <td> Event Start time: </td>
                <td><input type="text" th:field="*{start_time}"></td>
            </tr>
            <tr>
                <td><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>