<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Image</title>
</head>
<body>
<div align="center">
    <h1> Upload Event Image </h1>
    <h3> <td th:text="${eventl.title}"></td></h3>
    <form action="#" th:action="@{/admin/events/imageUpload}" th:object="${eventl}" method="post" enctype="multipart/form-data">
        <tr>
            <input type="file" name="imageFile" th:accept="${accept}">
        </tr>
        <td><input type="hidden" th:field="*{id}"/></td>
        <td><input type="hidden" th:field="*{title}"/></td>
        <td><input type="hidden" th:field="*{description}"/></td>
        <td><input type="hidden" th:field="*{date}"/></td>
        <td><input type="hidden" th:field="*{start_time}"/></td>
        <tr>
            <td><button type="submit">Save</button></td>
        </tr>
    </form>
</div>
</body>
</html>