<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::header">
</head>
<body>
<div class="d-flex" id="wrapper">
    <div th:insert="template::sidebar">
    </div>
    <div id="page-content-wrapper">
        <nav th:insert="template::navbar">
        </nav>
        <div class="container-fluid">
            <h1> Info List </h1>
            <a type="button" class="btn btn-primary" href="/admin/infos/new">Add new Info</a><br/><br/>
            <div class="table-responsive">
                <table border="1" cellpadding="10" class="table table-bordered">
                    <thead>
                    <tr>
                        <th> Id </th>
                        <th> School Name </th>
                        <th> Vision </th>
                        <th> Mission </th>
                        <th> Objectives </th>
                        <th> History </th>
                        <th> Actions </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="info: ${infos}">
                        <td th:text="${info.id}"></td>
                        <td th:text="${info.school_name}"></td>
                        <td th:text="${info.vision}"></td>
                        <td th:text="${info.mission}"></td>
                        <td th:text="${info.objectives}"></td>
                        <td th:text="${info.history}"></td>
                        <td>
                            <a type="button" class="btn btn-primary" th:href="@{'/admin/infos/edit/' + ${info.id}}">Edit</a>
                            <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#infoDel'+${info.id}">Delete</button>
                            <div class="modal fade" th:id="infoDel+${info.id}" tabindex="-1" role="dialog" aria-labelledby="infoDel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="infoDel">Are you sure?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        Do you want to delete this Site Info?
                                        </div>
                                        <div class="modal-footer">
                                            <a type="button" class="btn btn-primary" th:href="@{/admin/infos/delete/{iid}(iid=${info.id})}">Delete</a>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>