<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::header"></head>
<body>
<div class="d-flex" id="wrapper">
    <div th:insert="template::sidebar">
    </div>
    <div id="page-content-wrapper">
        <nav th:insert="template::navbar">
        </nav>
        <div class="container-fluid" align="center">
            <h1> Upload News Image </h1>
            <h3> <td th:text="${n.title}"></td></h3><br>
            <form action="#" th:action="@{/admin/news/imageUpload}" th:object="${n}" method="post" enctype="multipart/form-data">
                <tr>
                    <td><input type="file" name="imageFile" th:accept="${accept}"></td>
                </tr>
                <td><input type="hidden" th:field="*{id}"/></td>
                <td><input type="hidden" th:field="*{title}"/></td>
                <td><input type="hidden" th:field="*{description}"/></td>
                <td><input type="hidden" th:field="*{date}"/></td>
                <tr>
                    <td><button class="btn btn-primary" type="submit">Save</button></td>
                </tr>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>