<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header">
</head>
<body>
<div align="center">
    <h1> Edit Setting </h1>
    <form action="#" th:action="@{/admin/settings/update}" th:object="${setting}" method="post">
        <table border="0" cellpadding="10">
            <td><input type="hidden" th:field="*{id}"/></td>
            <td><input type="hidden" th:field="*{mainIconFn}"/></td>
            <td><input type="hidden" th:field="*{negativeIconFn}"/></td>
            <td><input type="hidden" th:field="*{iconLongFn}"/></td>
            <td><input type="hidden" th:field="*{headermp4}"/></td>
            <tr>
                <td> Theme: </td>
                <td>
                    <select th:field="*{themeName}">
                        <option th:value="Red" th:text="Red"></option>
                        <option th:value="Yellow" th:text="Yellow"></option>
                        <option th:value="Blue" th:text="Blue"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> SMS Url: </td>
                <td><input type="text" th:field="*{smsUrl}"/></td>
            </tr>
            <tr>
                <td> Admission Url: </td>
                <td><input type="text" th:field="*{admissionUrl}"/></td>
            </tr>
            <tr>
                <td> Header One: </td>
                <td><input type="text" th:field="*{headerOne}"/></td>
            </tr>
            <tr>
                <td> Header Two: </td>
                <td><input type="text" th:field="*{headerTwo}"/></td>
            </tr>
            <tr>
                <td><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>