<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::header">
</head>
<body>
<div class="d-flex" id="wrapper">
    <div th:insert="template::sidebar">
    </div>
    <div id="page-content-wrapper">
        <nav th:insert="template::navbar">
        </nav>
        <div class="container-fluid">
            <h1> Setting List </h1>
<!--            <a href="/admin/settings/new">Add new Setting</a><br/><br/>-->
            <div class="table-responsive">
            <table border="1" cellpadding="10">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> Main Icon </th>
                    <th> Negative Icon </th>
                    <th> Long Icon </th>
                    <th> Theme Name </th>
                    <th> SMS Url </th>
                    <th> Admission Url </th>
                    <th> Header One </th>
                    <th> Header Two </th>
                    <th> Header mp4 </th>
                    <th> Actions </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="setting: ${settings}">
                    <td th:text="${setting.id}"></td>
                    <td>
                        <span th:text="${setting.mainIconFn}"></span>
                        <a th:href="@{'/admin/settings/mainIconUpload/' + ${setting.id}}">Upload Main Icon</a>
                    </td>
                    <td>
                        <span th:text="${setting.negativeIconFn}"></span>
                        <a th:href="@{'/admin/settings/negativeIconUpload/' + ${setting.id}}">Upload Negative Icon</a>
                    </td>
                    <td>
                        <span th:text="${setting.iconLongFn}"></span>
                        <a th:href="@{'/admin/settings/longIconUpload/' + ${setting.id}}">Upload Long Icon</a>
                    </td>
                    <td th:text="${setting.themeName}"></td>
                    <td th:text="${setting.smsUrl}"></td>
                    <td th:text="${setting.admissionUrl}"></td>
                    <td th:text="${setting.headerOne}"></td>
                    <td th:text="${setting.headerTwo}"></td>
                    <td>
                        <video th:src="@{'/uploads/' + ${setting.headermp4}}"></video>
                        <span th:text="${setting.headermp4}"></span>
                        <a th:href="@{'/admin/settings/headermp4Upload/' + ${setting.id}}">Upload Header mp4</a>
                    </td>
                    <td>
                        <a th:href="@{'/admin/settings/edit/' + ${setting.id}}">Edit</a>
                        &nbsp;&nbsp;&nbsp;
<!--                        <a th:href="@{'/admin/settings/delete/' + ${setting.id}}">Delete</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>