<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::header">
</head>
<body>
<div class="d-flex" id="wrapper">
    <div th:insert="template::sidebar">
    </div>
    <div id="page-content-wrapper">
        <nav th:insert="template::navbar">
        </nav>
        <div class="container-fluid">
            <h1> Social Media Settings </h1>
            <a type="button" class="btn btn-primary" href="/admin/socials/new">Add new Social Media Link</a><br/><br/>

            <table border="1" cellpadding="10" class="table table-bordered">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> Social Media Name </th>
                    <th> Social Media URL </th>
                    <th> Image filename </th>
                    <th> Actions </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="socialLink: ${socialLinks}">
                    <td th:text="${socialLink.id}"></td>
                    <td th:text="${socialLink.name}"></td>
                    <td th:text="${socialLink.url}"></td>
                    <td th:text="${socialLink.image_fn}"></td>
                    <td>
                        <a type="button" class="btn btn-primary" th:href="@{'/admin/socials/edit/' + ${socialLink.id}}">Edit</a>
                        <!-- &nbsp;&nbsp;&nbsp; -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#socDel'+${socialLink.id}">Delete</button>
                        <div class="modal fade" th:id="socDel+${socialLink.id}" tabindex="-1" role="dialog" aria-labelledby="socDel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="socDel">Are you sure?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                    Do you want to delete this Social Media Link?
                                    </div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-primary" th:href="@{/admin/socials/delete/{socid}(socid=${socialLink.id})}">Delete</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a type="button" class="btn btn-primary" th:href="@{'/admin/socials/imageUpload/' + ${socialLink.id}}">Upload Image</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>