<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="kksh">

    <title th:text="${title}">No Title Set</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet"/>
</head>
<body>
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" th:fragment="sidebar">
        <div class="sidebar-heading">CMS Admin</div>
        <div class="list-group list-group-flush">
            <a href="/admin/" class="list-group-item list-group-item-action bg-light">Dashboard</a> <!-- th:classappend="${module == '/' ? 'active' : ''}" where to put this? -->
            <a href="/admin/colleges" class="list-group-item list-group-item-action bg-light">Colleges</a>
            <a href="/admin/departments" class="list-group-item list-group-item-action bg-light">Departments</a>
            <a href="/admin/employees" class="list-group-item list-group-item-action bg-light">Employees</a>
            <a href="/admin/socials" class="list-group-item list-group-item-action bg-light">Social Media</a>
            <a href="/admin/news" class="list-group-item list-group-item-action bg-light">News</a>
            <a href="/admin/events" class="list-group-item list-group-item-action bg-light">Events</a>
            <a href="/admin/settings" class="list-group-item list-group-item-action bg-light">Settings</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" th:fragment="navbar">
<!--            <button class="btn btn-primary" id="menu-toggle">Sidebar</button>-->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default"
                             aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#">Sign out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <!-- code goes here -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

</body>
</html>